<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Terminas de Uso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="terms">
    <div class="terms__texto">
      <ion-title size="large">Terminas de Uso</ion-title>
    </div>

    <div class="terms__contenido">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque 
        deserunt nihil mollitia quaerat reiciendis a officia blanditiis beatae minus 
        nulla sit, hic tempore sunt ab tenetur officiis ipsam soluta nam. Lorem ipsum 
        dolor sit amet consectetur adipisicing elit. Nemo officiis adipisci, omnis rerum 
        ab eveniet, excepturi, fugit repellat eum magnam a nam? Iure culpa soluta suscipit 
        ipsa accusantium debitis <a href="#">aqui</a> 
        magnam? Lorem ipsum dolor sit, amet consectetur adipisicing 
        elit. Aspernatur laborum repellat explicabo voluptas nesciunt a molestiae, mollitia 
        voluptatum? Eveniet explicabo voluptatibus nam tempora voluptate molestias sint necessitatibus 
        suscipit magni rem. <a href="#">aqui</a>
      </p>
    </div>
  </div>
</ion-content>
