<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Configuracion General</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true">

  <div class="settings">

    <div class="settings__general">
      <div class="settings__texto">
        <ion-title>Configuracion General</ion-title>
      </div>
      
    </div><!--General-->

  </div><!--Settings-->

</ion-content>