
<app-header>
  Acerca de mi
</app-header>

<ion-content [fullscreen]="true">
  <div class="descripcion contenedor">
    
    <div class="descripcion__contenido">
      <div class="descripcion__texto">
        <ion-title>Sobre mi</ion-title>
      </div>
      
      <div class="descripcion__card">
        <ion-card>
          <img alt="Imagen sobre Nosotros" src="https://th.bing.com/th/id/OIP.dm1iBzsRZNCWQHZFF9mcSQHaDZ?pid=ImgDet&rs=1" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>         
      </div>
    </div> <!---contenido- -->

    <div class="descripcion__contenido">
      <div class="descripcion__texto">
        <ion-title>Mis Sponsors</ion-title>
      </div>

      <div class="descripcion__sponsor">
          <div class="descripcion__logo" >
            <ion-icon name="logo-windows"></ion-icon>
            <!-- <p>Sponsor 1</p> -->
          </div>

          <div class="descripcion__logo" >
            <ion-icon name="logo-playstation"></ion-icon>
            <!-- <p>Sponsor 2</p> -->
          </div>

          <div class="descripcion__logo" >
            <ion-icon name="logo-amazon"></ion-icon>
            <!-- <p>Sponsor 3</p> -->
          </div>

          <div class="descripcion__logo" >
            <ion-icon name="logo-android"></ion-icon>
            <!-- <p>Sponsor 4</p> -->
          </div>

          <div class="descripcion__logo" >
            <ion-icon name="logo-apple"></ion-icon>
            <!-- <p>Sponsor 5</p> -->
          </div>
      </div>

    </div> <!---contenido- -->

    
    <div class="descripcion__contenido">
      <div class="descripcion__texto">
        <ion-title>Mis Contactos</ion-title>
      </div>
      
      <div class="descripcion__contactos"> 
        <a href="https://web.facebook.com/">
          <ion-icon name="logo-facebook"></ion-icon>
          <input type="hidden" value="facebook">
        </a>
      
        <a href="https://twitter.com/">
          <ion-icon name="logo-twitter"></ion-icon>
          <input type="hidden" value="twitter">
        </a>
      
        <a href="https://www.instagram.com/stanleyriche1/">
          <ion-icon name="logo-instagram"></ion-icon>
          <input type="hidden" value="instagram">
        </a>      
      
        <a href="linkedin.com/in/richard-saintima-stanley-406090251/">
          <ion-icon name="logo-linkedin"></ion-icon>
          <input type="hidden" value="linkedin">
        </a>      
      </div>
    </div> <!---contenido- -->
    
  </div><!---descripcion- -->
</ion-content> 


  
  <app-footer></app-footer>