
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Configuracion de Cuentas</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <div class="settings">

      <div class="settings__general">
        <div class="settings__texto">
          <ion-title>Configuracion General</ion-title>
        </div>
        <div class="settings__opciones">
          <ion-list-header>Informaion Personal</ion-list-header>
            <ion-list >
                <ion-list>
                  <ion-item>
                    <ion-input label="Nombre" placeholder="Enter text" value="Satatata"></ion-input>
                  </ion-item>
              
                  <ion-item>
                    <ion-input label="Fecha de nacimiento" type="date" placeholder="000" value="999"></ion-input>
                  </ion-item>
              
                  <ion-item>
                    <ion-input label="Contraseña" type="password" value="password"></ion-input>
                  </ion-item>
              
                  <ion-item>
                    <ion-input label="Correo electrónico" type="email" placeholder="email@domain.com"></ion-input>
                  </ion-item>
              
                  <ion-item>
                    <ion-input label="N° Telefono" type="tel" placeholder="888-888-8888"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-list>
        </div>
        <div class="settings__opciones">
          <ion-list-header>Direccion</ion-list-header>
            <ion-list >
                <ion-list>
                  <ion-item>
                    <ion-input label="Region" placeholder="Enter text" value="Satatata"></ion-input>
                  </ion-item>
              
                  <ion-item>
                    <ion-input label="Comuna"  placeholder="000" value="Comuna"></ion-input>
                  </ion-item>
              
                  <ion-item>
                    <ion-input label="Calle"  placeholder="000" value="Calle"></ion-input>
                  </ion-item>
              </ion-list>
            </ion-list>
        </div>
        <div class="settings__opciones">
          <ion-list-header>Otro </ion-list-header>
            <ion-list >
                <ion-list>
                  <!-- <ion-item>
                    <ion-input label="Region" placeholder="Enter text" value="Satatata"></ion-input>
                  </ion-item>
              
                  <ion-item>
                    <ion-input label="Comuna"  placeholder="000" value="Comuna"></ion-input>
                  </ion-item>
              
                  <ion-item>
                    <ion-input label="Calle"  placeholder="000" value="Calle"></ion-input>
                  </ion-item> -->
              </ion-list>
            </ion-list>
        </div>
      </div><!--General-->

    </div><!--Settings-->
</ion-content> 



