
<app-header>
  Ayuda
</app-header>

  <ion-content [fullscreen]="true">
    <div class="ayuda">
      <div class="ayuda__contenido">
        <div class="ayuda__bloque">
          <div >
            <p class="ayuda__texto">Suporte tecnicos</p>
          </div>
            <p class="ayuda__informacion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum at a deserunt magnam, distinctio quisquam? Ratione ea 
              suscipit eum nam ab expedita facilis perferendis ad? Vitae 
              aspernatur hic dicta aliquid <a href="https://ionicframework.com/docs/api/action-sheet">Aqui</a>.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit vel asperiores 
              aliquam placeat sint aliquid doloremque possimus, porro explicabo 
              dolorem tenetur velit. Natus doloribus neque <a href="https://ionic.io/ionicons">Leer mas</a> 
              non, error officia ducimus! Non!
            </p>
        </div>
      </div>


      <div class="ayuda__contenido">
        <div class="ayuda__bloque">
          <div >
            <p class="ayuda__texto">Forma de Contactar</p>
          </div>
          
          <div class="ayuda__contactos"> 
            <a href="https://web.facebook.com/">
              <ion-icon name="logo-facebook"></ion-icon>
              <input type="hidden" value="facebook">
            </a>
          
            <a href="https://twitter.com/">
              <ion-icon name="logo-twitter"></ion-icon>
              <input type="hidden" value="twitter">
            </a>
          
            <a href="https://www.instagram.com/stanleyriche1/">
              <ion-icon name="logo-instagram"></ion-icon>
              <input type="hidden" value="instagram">
            </a>      
          
            <a href="linkedin.com/in/richard-saintima-stanley-406090251/">
              <ion-icon name="logo-linkedin"></ion-icon>
              <input type="hidden" value="linkedin">
            </a>      
          </div>          
        </div>
      </div> <!---contenido- -->

      

      <div class="ayuda__contenido">
        <div class="ayuda__bloque">
          <div >
            <p class="ayuda__texto">Formulario de Contacto</p>
          </div>

          <div class="ayuda__formulario">
            
            <form>
              <ion-item>
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input type="text" name="nombre"></ion-input>
              </ion-item>
        
              <ion-item>
                <ion-label position="stacked">Correo electrónico</ion-label>
                <ion-input type="email" name="email"></ion-input>
              </ion-item>
        
              <ion-item>
                <ion-label position="stacked">Mensaje</ion-label>
                <ion-textarea 
                  name="mensaje"
                  helperText="Maximo Caracteres"
                  [counter]="true"
                  [maxlength]="100"
                ></ion-textarea>
                
              </ion-item>
        
              <ion-button expand="full" color="primary">Enviar</ion-button>
            </form>
          </div>
        </div>

      </div>    

    </div>
  </ion-content> 


  
  <app-footer></app-footer>