<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="large">Configuración Visual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="settings">

    <div class="settings__general">
      <div class="settings__texto">
        <ion-title>Configuración General</ion-title>
      </div>
      <div class="settings__opciones">
        <ion-list-header>Preferencia</ion-list-header>
          <ion-list [inset]="true">
            <ion-item>
              <ion-toggle [(ngModel)]="themeToggle" (ionChange)="toggleChange($event)" justify="space-between">
                {{ themeToggle ? 'Modo Oscuro' : 'Modo Claro' }}
              </ion-toggle>
            </ion-item>
          </ion-list>

      
        <ion-list [inset]="true">
          <ion-item [button]="true">Otros Opciones</ion-item>
          <ion-item>
            <!-- <ion-toggle justify="space-between">Bold Text</ion-toggle> -->
          </ion-item>
        </ion-list>  
         
      </div>
    </div><!--General-->

  </div><!--Settings-->
</ion-content>